/******************

base

******************/

* {
    margin: 0;
}


body {
    color: white;
    background: #191919;
    font-family: Garet, Helvetica, Arial, sans-serif;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Garet';
    src: url("assets/fonts/Garet-Book.ttf");
}

@font-face {
    font-family: 'Gontserrat-Light';
    src: url("assets/fonts/Gontserrat-Light.ttf");
}

@font-face {
    font-family: 'Gontserrat-SemiBold';
    src: url("assets/fonts/Gontserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Xolonium-Regular';
    src: url("assets/fonts/Xolonium-Regular.ttf");
}



.title {
    font-family: 'Xolonium-Regular';
    /*color: #89fdda;*/
    font-size: 4rem;
    text-align: center;
    padding: 0;
    /*
    background-image: linear-gradient(#ffffff, #89fdda);
    color: transparent;
    */
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(3px 3px 2px #2522FF);

}

.mini-title {
    font-family: 'Xolonium-Regular';
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(3px 3px 2px #2522FF);

}



/******************

navigation bar

******************/

nav .logo {
    background-image: url("assets/images/logo.png");
    background-size: 64px;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    display:inline-block;
    width: 64px;
    height: 64px;
}

nav {
    color: red;
    background:  #000000;
    padding: 0;
    margin: 0;
    text-align: left ;
}

nav a:link,
nav a:visited {
    text-decoration:none;
    color: inherit;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 20px;
    margin: 0;
    line-height: 24px;
}


nav ul li:not(.logo) a:hover {
    background: red;
    font-weight: bold;
    color: #191919;
    border-bottom: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 3;
}

.dropdown-content a {
    width: 130px;
}

.dropdown-content a:hover {
    width: 130px; /* TODO figure out how to make this not magic */
}

.dropdown:hover .dropdown-content {
    display: block;
}



/******************

header and banner

******************/
header {
    height: 200px;
    padding: 20px;
}

header.banner {
    margin: 0;
    position: relative;
    height: 800px;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.banner-slider {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

#banner-tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.banner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner-image.active {
    opacity: 1;
}

header.banner h1 {
    
    font-family: 'Xolonium-Regular';
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: left;
    z-index: 2;
    font-size: 5rem;
    /*background-image: linear-gradient(#ffffff, #89fdda);
    color: transparent;*/
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(3px 3px 2px #2522FF);
}

header.banner h2 {
    position: absolute;
    top: 40%;
    left: 5%;
    text-align: left;
    z-index: 2;
    font-style: italic;
    color: #e0e0e0;
    filter: drop-shadow(0px 0px 4px #000000)
}

#banner-title {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.4s ease;
    /* Initial position to the right */
    transform: translateX(500%);
    opacity: 0;
}

#banner-tagline {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.4s ease;
    /* Initial position to the right */
    line-height: 150%;
    transform: translateX(-500%);
    font-size: 1.75rem;
    opacity: 0;
    white-space: pre-line;
}


#banner-title.show,
#banner-tagline.show {
    /* Move to original position and fade in */
    transform: translateX(0);
    opacity: 1;
}


/******************

PSL info

******************/
.psl-info {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

#info {
    flex: 1;
}



/******************

Upcoming Events Figures

******************/
section.events { 
    padding: 80px;
    background: #2c2c2c;
}


.event-figs {
    padding-top: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.event-figs figure {
    margin: 10px;
    text-align: center;
    flex: 1; 
    filter: drop-shadow(3px 3px 3px #000000);
}

.event-figs figure:not(.tbd-event) img:hover {
    outline:5px solid #2522FF;
    cursor: pointer;
}

.event-figs img {
    max-width: 400px; 
    height: auto; 
}

.event-figs figure figcaption {
    font-size: 2rem;
}



/******************

Event popup

******************/

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.popup-content {
    display: flex;
    width: 80%;
    max-width: 800px;
    background: #222222;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 4rem;
    cursor: pointer;
}

.popup-left {
    width: 50%;
    padding-right: 20px;
}

.popup-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
}

#popup-image {
    width: 100%;
    height: auto;
}

#popup-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

#popup-description {
    font-size: 1rem;
}

#popup-button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #2522FF;
    color: white;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: Gontserrat-Semibold;
    cursor: pointer;
}




/******************

Event Info Page

******************/

.event-info{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5% 10px 5%;
}

/* specific location backgrounds*/
#san-diego {background-image:url("assets/images/ucsd-event.jpg");}
#michigan {background-image:url("assets/images/michigan-event.jpg");}

.event-info h2{
    text-align: center;
    line-height: 200%;
    padding-top: 60px;
    font-size: 1.5rem;
    color: #bbbbbb;
    filter: drop-shadow(0px 0px 4px black);
}

.event-info .event-details #event-reg-list {
    list-style-type: none;
}

.event-info .event-details {
    padding-top: 1%;
    text-align: left;
}


#info {
    flex: 1;
}

/* entire section for both schedule and broadcast*/
.schedule {
    padding: 2% 20% 5% 20%;
}

.schedule .title {
    padding: 2%;
}

/* css of the schedule table specifically */
#schedule-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #ffffff
}

#schedule-table th, #schedule-table td{
    border: 1px solid #ddd;
    padding: 10px;
}

#schedule-table th {
    background-color: red;
    color: black;
    font-weight: bold;
}

#schedule-table tr:nth-child(even) {
    background-color: #303030;
}

#schedule-table tr:hover {
    background-color: #a00000;
    color: #F1CF11;
}

/* left section just for the broadcast info */
#broadcast-info {
}

#psl-logo{
    max-width: 25%;
}



/******************

Default section template

******************/


.partners {
    padding-top: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}

.partners figure {
    margin: 10px;
    text-align: center;
    flex: 1; 
    filter: drop-shadow(3px 3px 3px #000000);
}

.partners img {
    max-width: 400px; 
    max-height: 400px;
    height: auto; 
}

.partners figure figcaption {
    font-size: 2rem;
    font-family: 'Xolonium-Regular';
}


/******************

Default section template

******************/

section.textsection {
    padding:80px;
}

section.textsection h2{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 200%;
    padding-top: 60px;
    font-size: 1.5rem;
    color: #bbbbbb
}

section.lightsection {
    background-color: #2c2c2c;
}

/* bold and also changes font color */
b {
    color: #ffffff;
    font-family: Gontserrat-SemiBold, Helvetica, Arial, sans-serif;
}

strong {
    font-family: Gontserrat-SemiBold, Helvetica, Arial, sans-serif;
}

.videos {
    display: block;
    margin:0 auto;
    text-align:center;
}


/******************

Footer

******************/

footer {
    background-color: black;
    margin: 0;
    margin-top: auto;
    padding: 50px;
    color: #bbb;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin: 0;
    padding: 0 50px 0 0;
}

footer ul li a {
    color: #bbb;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #2522FF;
    text-underline-offset: 20%;
}






/******************

Responsive design for Mobile

*******************/

/* breakpoint to make psl info look goofy */
@media screen and (max-width: 1500px) {
    .psl-info {
        display: inline-block;
    }

    #trailer {
        text-align: center;
        margin-top: 5%;
    }
}

/* banner breakpoint */
@media screen and (max-width: 1350px) {
    #banner-tagline{
        padding-top: 50px;
    }

    section.textsection h2 {
        padding: 10px;
    }
}

@media screen and (max-width: 1050px) {
    .event-figs img {
        max-width: 600px; 
    }
}

@media screen and (max-width: 950px) {
    #banner-tagline {
        padding-top: 200px;
    }
}

@media screen and (max-width: 800px) {
    .event-figs img {
        max-width: 400px; 
    }
}
